/* stylelint-disable max-empty-lines */
/* stylelint-disable no-empty-source */
.nav-btn {
  border: none;
  background-color: inherit;
}

@media only screen and (min-width: 768px) {
  .add-book-form {
    width: 50%
  }
}